    //assets path variable
$asset-path: "../assets/";
//Variables
$font-size: 14px;
$line-height: 1.1;
//mixin background
@mixin backgroundopacitiy ($r, $g, $B, $opacity) {
    background: rgba($r, $g, $B, $opacity);
}

@mixin bgimage-shadow {
    background: url(#{$asset-path}shadow.png) center top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -1rem;
    padding: 2rem 2rem 0 2rem;
}

//mixin animation icons
@mixin prefixer($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

@mixin animation ($value) {
    @include prefixer($property: animation, $value: $value);
}

@mixin transition ($value...) {
    @if length($value) >=1 {
        // If we set value
        @include prefixer($property: transition, $value: $value);
    }
    @else {
        // If value is not set, return default value
        @include prefixer($property: transition, $value: all 0.15s ease-in 0.05s);
    }
}

@mixin keyframes($animation-name) {
    @keyframes $animation-name {
        @content;
    }
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
}

.one-by-one {
    $delay-values: (0.0s, 0.1s, 0.2s, 0.3s, 0.4s, 0.5s, 0.6s, 0.7s, 0.8s, 0.9s, 1s, 1.1s, 1.2s, 1.3s, 1.4s, 1.5s, 1.6s);
    @for $i from 1 through length($delay-values) {
        &:nth-of-type(#{$i}) {
            @include prefixer($property: transition-delay, $value: nth($delay-values, $i));
        }
    }
}

.fade-in-top {
    opacity: 0;
    @include prefixer(transform, translate(0px, -20px));
}

.fade-out-top {
    opacity: 1;
    @include prefixer(transform, translate(0px, 0px));
}

//IE10
_:-ms-lang(x),
.ie10up {
    margin-top: -12rem;
}

//IE11
_:-ms-fullscreen,
:root .ie11up {
    margin-top: 0;
}

//Wrapper Backgrounds
.wrapper {
    width: 100%;
}

.slider-bottom {
    height: auto;
    overflow: hidden;
    & li {
        margin-bottom: 0;
    }
}

.shadow {
    @include bgimage-shadow;
    & h3 {
        padding-top: 1rem;
        @media (#{$bp-larger-than-phablet}) {
            padding-top: 0;
        }
    }
    & h2,
    h3,
    p {
        @media (#{$bp-larger-than-mobile}) {
            text-align: center;
        }
    }
    & h2,
    h3,
    p {
        @media (#{$bp-larger-than-tablet}) {
            text-align: left;
        }
    }
    @media (#{$bp-larger-than-mobile}) {
        margin-top: -1rem;
        padding: 3rem 2rem 0rem 2rem;
        text-align: left;
    }
    @media (#{$bp-larger-than-phablet}) {
        padding: 3rem 2rem 0rem 2rem;
        text-align: left
    }
    @media (#{$bp-larger-than-tablet}) {
        margin-top: -1rem;
        padding: 3rem 0 0 0;
        text-align: left
    }
}

.shadow-last {
    @include bgimage-shadow;
    text-align: left !important;
    & h2,
    h3,
    h4,
    p {
        @media (#{$bp-larger-than-tablet}) {
            text-align: left;
        }
    }
    @media (#{$bp-larger-than-mobile}) {
        padding: 3rem 2rem 0rem 2rem;
    }
    @media (#{$bp-larger-than-tablet}) {
        padding: 3rem 0 0 0;
    }
}

.shadow-mirrored {
    background: url(#{$asset-path}shadow-mirrored.png) center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem;
    @media (#{$bp-larger-than-mobile}) {
        padding: 0 0 2rem 0;
    }
}

.overlay {
    @include backgroundopacitiy (0, 0, 0, .5);
    height: 140px;
    margin-top: -15rem;
    padding: 0 0 2rem 0;
    position: absolute;
    text-align: left;
    z-index: 10000;
    @media (#{$bp-larger-than-mobile}) {
        height: 80px;
        margin-top: -13rem;
        padding: 2rem 0 0 0;
    }
    @media (#{$bp-larger-than-phablet}) {
        height: 90px;
        margin-top: -12rem;
        padding: 1rem 0 1rem 0;
    }
    @media (#{$bp-larger-than-tablet}) {
        height: 100px;
        margin-top: -15rem;
        padding: 2rem 0 2rem 0;
    }
    & h1 {
        color: white;
        $font-size: 14px;
        $line-height: 1.1;
        margin-bottom: 1.6rem;
        text-align: center;
        @media (#{$bp-larger-than-phablet}) {
            $font-size: 20px;
            margin-bottom: .5rem;
            margin-left: 1rem;
            text-align: left;
        }
        @media (#{$bp-larger-than-tablet}) {
            $font-size: 20px;
            margin-bottom: 1.6rem;
            margin-left: 1rem;
            text-align: left;
        }
    }
    & a {
        font-style: normal;
    }
    & .button {
        font-size: 1.2rem;
        margin: 0 auto;
        @media (#{$bp-larger-than-phablet}) {
            font-size: 1.4rem;
            margin-left: 1rem;
        }
        @media (#{$bp-larger-than-tablet}) {
            font-size: 1.7rem;
            margin-left: 1rem;
        }
    }
    & .multistore {
        font-size: 1rem;
        @media (#{$bp-larger-than-phablet}) {
            font-size: 1.2rem;
            margin-left: 1rem;
        }
        @media (#{$bp-larger-than-tablet}) {
            font-size: 1.2rem;
            margin-left: 1rem;
        }
    }
    & .pdv {
        @media (#{$bp-larger-than-phablet}) {
            height: 80px;
            margin-right: 1.5rem;
            width: 80px;
        }
        @media (#{$bp-larger-than-tablet}) {
            display: block;
            height: 100px;
            margin-right: 1.5rem;
            width: 100px;
        }
    }
    & .powered-overlay {
        color: white;
    }
    }

.multistore {
    margin: 0 auto;
    text-align: center;
    width:100%;
        @media (#{$bp-larger-than-tablet}) {
            float: left;
            margin: 1rem 0 1rem 1rem;
            width:auto;
        }
    & .button {
        font-size: 1.2rem;
        
    }
}
.hide-column-multistore {
    display: none;
    visibility: hidden;
    @media (#{$bp-larger-than-tablet}) {
        display: block;
    }
}

//sticky elements
.sticky-wrapper {
    height: 0 !important;
}
.margin-top {
    margin-top: 0;
}
//slider
.rslides {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.rslides li {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    width: 100%;
}
.rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
.rslides img {
    display: block;
    float: left;
    height: auto;
    width: 100%;
    border: 0;
}
//typography
h2,
h3 {
    text-align: center;
    @media (#{$bp-larger-than-tablet}) {
        text-align: left
    }
}
h4 {
    text-align: left
}
.margin {
    margin: 0;
}
//footer
.logo-footer {
    float: left;
    margin-right: 1rem;
    @media (#{$bp-larger-than-mobile}) {
        margin-right: 2rem;
    }
}
footer {
    p,
    a {
        font-size: 1.2rem;
        text-align: left;
    }
    & h4,
    li {
        text-align: left;
    }
    & li {
        font-size: 1.2rem;
        @media (#{$bp-larger-than-mobile}) {
            font-size: 1.3rem;
        }
    }
    & .imprint {
        padding: 2rem 2rem 0 2rem;
        @media (#{$bp-larger-than-mobile}) {
            padding: 3rem 2rem 0rem 2rem;
        }
        @media (#{$bp-larger-than-phablet}) {
            padding: 3rem 2rem 0rem 2rem;
        }
        @media (#{$bp-larger-than-tablet}) {
            padding: 0;
            text-align: left;
        }
    }
}
//truncate text
$lines-to-show: 2;
.truncate {
    display: block;
    display: -webkit-box;
    font-size: $font-size;
    height: $font-size*$line-height*$lines-to-show;
    line-height: $line-height;
    margin: 0 auto;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
}
//images & icons
.pdv {
    border: 1px solid $border-color;
    height: auto;
    margin: 0 0 2rem 0;
    padding: .1rem;
    width: 100px;
}
.pdv-mob {
    border: .4rem solid white;
    margin-top: -6rem; // portrait
    padding: 0;
    position: relative;
    z-index: 100;
    @media (#{$bp-larger-than-mobile}) {
        margin-top: -8rem;
    }
    @media (#{$bp-larger-than-phablet}) {
        margin-top: -10rem;
    }
    @media (#{$bp-larger-than-phablet}) {
        display: none;
    }
}
.mobile {
    display: none;
    text-align: center;
    @media (#{$bp-larger-than-tablet}) {
        text-align: left;
    }
}
//map
.map-container {
    //    @extend .fade-in-top;
    @include transition();
    border: 1px solid $border-color;
    margin: 0 0 2rem 0;
    padding: 2px;
}
.map {
    height: 274px;
    width: auto;
    @media (#{$bp-larger-than-mobile}) {
        height: 320px;
        width: auto;
    }
    @media (#{$bp-larger-than-phablet}) {
        height: 450px;
        width: auto;
    }
}
//hide elements on demand or make them larger
.hide {
    display: none;
    @media (#{$bp-larger-than-mobile}) {
        display: block;
    }
}
.wide {
    width: 80% !important;
}
.wide-column-content {
    width: 100% !important;
}
.powered-hidden {
    display: none;
}
//table adjust
th,
td {
    padding: 0px 10px;
}
//food icons
.food {
    padding: 0 0 2rem 0;
}
.food-icon {
    @extend .fade-in-top;
    @include transition();
    display: block;
    float: left;
    margin: 0 .5rem 1.5rem .5rem;
    text-align: center;
    width: 30%;
    @media (#{$bp-larger-than-phablet}) {
        height: 60px;
        margin: 0 .5rem 3.5rem 0;
        width: 100px;
        &:last-of-type {
            margin: 0 0 3.5rem 0;
        }
    }
}
.amerikanisch {
    background: url(#{$asset-path}food-icons/amerikanisch.png) center top;
    background-repeat: no-repeat;
}
.asiatisch {
    background: url(#{$asset-path}food-icons/asiatisch.png) center top;
    background-repeat: no-repeat;
}
.baguette {
    background: url(#{$asset-path}food-icons/baguette.png) center top;
    background-repeat: no-repeat;
}
.burger {
    background: url(#{$asset-path}food-icons/burger.png) center top;
    background-repeat: no-repeat;
}
.dessert {
    background: url(#{$asset-path}food-icons/dessert.png) center top;
    background-repeat: no-repeat;
}
.doener {
    background: url(#{$asset-path}food-icons/doener.png) center top;
    background-repeat: no-repeat;
}
.getraenkelieferservice {
    background: url(#{$asset-path}food-icons/getraenkelieferservice.png) center top;
    background-repeat: no-repeat;
}
.griechisch {
    background: url(#{$asset-path}food-icons/griechisch.png) center top;
    background-repeat: no-repeat;
}
.fisch {
    background: url(#{$asset-path}food-icons/fisch.png) center top;
    background-repeat: no-repeat;
}
.haehnchen {
    background: url(#{$asset-path}food-icons/haehnchen.png) center top;
    background-repeat: no-repeat;
}
.indisch {
    background: url(#{$asset-path}food-icons/indisch.png) center top;
    background-repeat: no-repeat;
}
.mexikanisch {
    background: url(#{$asset-path}food-icons/mexikanisch.png) center top;
    background-repeat: no-repeat;
}
.orientalisch {
    background: url(#{$asset-path}food-icons/orientalisch.png) center top;
    background-repeat: no-repeat;
}
.pizza-pasta {
    background: url(#{$asset-path}food-icons/pizza-pasta.png) center top;
    background-repeat: no-repeat;
}
.steak-schnitzel {
    background: url(#{$asset-path}food-icons/steak-schnitzel.png) center top;
    background-repeat: no-repeat;
}
.sushi {
    background: url(#{$asset-path}food-icons/sushi.png) center top;
    background-repeat: no-repeat;
}
.vegetarisch {
    background: url(#{$asset-path}food-icons/vegetarisch.png) center top;
    background-repeat: no-repeat;
}
.food-description {
    font-family: $open-sans;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    margin-top: 5rem;
    text-align: center;
    @media (#{$bp-larger-than-phablet}) {
        margin-top: 4.5rem;
    }
}