@import "compass/css3";

//mixin
@mixin backgroundopacitiy-50 {
    background: rgba(0, 0, 0, .5);
}

@mixin backgroundopacitiy-60 {
    background: rgba(0, 0, 0, .6);
}

//Wrapper Backgrounds
.wrapper {
    width: 100%;
}


.slider-bottom {
    background: url(../assets/pizza/2.jpg) center top;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    height: 350px;
    text-align: center;
}

.shadow {
    background: url(../assets/shadow.png) center top;
    background-repeat: no-repeat;
    padding: 3rem 0;
}

.shadow-last {
    @extend .shadow;
    padding: 3rem 0 0 0;
}

.shadow-mirrored {
    background: url(../assets/shadow-mirrored.png) center bottom;

    background-repeat: no-repeat;
    padding: 0 0 2rem 0;
}

.overlay {
    @include backgroundopacitiy-50;
    height: 140px;
    padding: 1rem 0 1rem 0;
    position: relative;
    top: -17rem;
    margin-bottom: -17rem;
    text-align: center;
    z-index: 10000;
    & h3 {
        color: white;
        font-size: 2.5rem;
    }
}
.overlay-scroll {
    @include backgroundopacitiy-60;
    background-repeat: no-repeat;
    height: 130px;
    padding: 2rem 0 0 0;
    text-align: left;
    top: -160px;
    z-index: 10000;
    & h3 {
        color: white;
        font-size: 2rem;
        line-height: 1.1;
    }
}


//sticky elements
.overlay.stick {
    @include backgroundopacitiy-50;
    position: fixed;
    top: 0;
    z-index: 10000;
}
.rslides.stick {
    position:fixed;
    top: -220px;
    z-index: 9999;
}

//slider
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

//typography
.margin {
    margin: 0;
}

footer {
    p,
    a {
        font-size: 1.2rem;
    }
}

//images / icons
.pdv {
    margin: 0 0 2rem 0;
    padding: .1rem;
    border: 1px solid $border-color;
}

.food {
    padding: 0 0 4rem 0;
}

.food-icon {
    float: left;
    height: 60px;
    margin: 0 1.5rem 0 0;
    width: 60px;
    &:last-of-type {
        margin: 0;
    }
}

.asiatisch {
    background: url(../assets/food-icons/asiatisch.png) center center;
    background-repeat: no-repeat;
}

.baguette {
    background: url(../assets/food-icons/baguette.png) center center;
    background-repeat: no-repeat;
}

.burger {
    background: url(../assets/food-icons/burger.png) center center;
    background-repeat: no-repeat;
}

.food-description {
    font-family: $open-sans;
    font-style: italic;
    font-weight: 400;
    margin-top: 4.5rem;
}

//map
.map-container {
    border: 1px solid $border-color;
    height: 360px;
    margin: 0 0 3rem 0;
    padding: 2px;
    width: 360px;
}

#map {
    height: 100%;
    width: 100%;
}